<div cdkDropListGroup>
  <div class="example-container">
    <h2>Variables</h2>
  
    <div
      cdkDropList
      [cdkDropListData]="availableVariables"
      class="example-list"
      (cdkDropListDropped)="onVariableDropped($event)">
      <div class="example-box" *ngFor="let item of availableVariables" cdkDrag>{{item.label}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>Filas</h2>
  
    <div
      cdkDropList
      [cdkDropListData]="chosenRows"
      class="example-list"
      (cdkDropListDropped)="onVariableDropped($event)">
      <div class="example-box" *ngFor="let item of chosenRows" cdkDrag>{{item.label}}</div>
    </div>
  </div>  

  <div class="example-container">
    <h2>Columnas</h2>
  
    <div
      cdkDropList
      [cdkDropListData]="chosenColumns"
      class="example-list"
      (cdkDropListDropped)="onVariableDropped($event)">
      <div class="example-box" *ngFor="let item of chosenColumns" cdkDrag>{{item.label}}</div>
    </div>
  </div>  
</div>

<table *ngIf="tableCanSortColumns" mat-table [dataSource]="uiDataSource" matSort class="mat-elevation-z8">
  <ng-container *ngFor="let columnObject of tableColumns;" matColumnDef="{{columnObject.columnName}}">
    <ng-container *ngIf="columnObject.label">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span *ngIf="columnObject.canBeExpanded && !columnObject.isExpanded"
          (click)="expandColumn(columnObject)">&gt;</span>
        <span *ngIf="columnObject.canBeExpanded && columnObject.isExpanded"
          (click)="contractColumn(columnObject)">X</span>
        {{columnObject.label}}
      </th>
    </ng-container>
    <ng-container *ngIf="!columnObject.label">
      <th mat-header-cell *matHeaderCellDef>
        <span *ngIf="columnObject.canBeExpanded && !columnObject.isExpanded"
          (click)="expandColumn(columnObject)">&gt;</span>
        <span *ngIf="columnObject.canBeExpanded && columnObject.isExpanded"
          (click)="contractColumn(columnObject)">X</span>
        {{columnObject.label}}
      </th>
    </ng-container>
    <td mat-cell *matCellDef="let element" (click)="onCellClicked(element)">
      <span *ngIf="element[columnObject.columnName].isHeader">
        <span *ngIf="element[columnObject.columnName].headerData.canBeExpanded && !element[columnObject.columnName].headerData.isExpanded"
          (click)="expandRow(element[columnObject.columnName].headerData)">&gt;</span>
        <span *ngIf="element[columnObject.columnName].headerData.canBeExpanded && element[columnObject.columnName].headerData.isExpanded"
          (click)="contractRow(element[columnObject.columnName].headerData)">X</span>
        {{element[columnObject.columnName].headerData.label}}
      </span>
      <span *ngIf="!element[columnObject.columnName].isHeader">{{element[columnObject.columnName].stringValue}}</span>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
</table>

<table *ngIf="!tableCanSortColumns" mat-table [dataSource]="uiDataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let columnObject of tableColumns;" matColumnDef="{{columnObject.columnName}}">
    <th mat-header-cell *matHeaderCellDef>
      <span *ngIf="columnObject.canBeExpanded && !columnObject.isExpanded"
        (click)="expandColumn(columnObject)">&gt;</span>
      <span *ngIf="columnObject.canBeExpanded && columnObject.isExpanded"
        (click)="contractColumn(columnObject)">X</span>
      {{columnObject.label}}
    </th>
    <td mat-cell *matCellDef="let element" (click)="onCellClicked(element)">
      <span *ngIf="element[columnObject.columnName].isHeader">
        <span *ngIf="element[columnObject.columnName].headerData.canBeExpanded && !element[columnObject.columnName].headerData.isExpanded"
          (click)="expandRow(element[columnObject.columnName].headerData)">&gt;</span>
        <span *ngIf="element[columnObject.columnName].headerData.canBeExpanded && element[columnObject.columnName].headerData.isExpanded"
          (click)="contractRow(element[columnObject.columnName].headerData)">X</span>
        {{element[columnObject.columnName].headerData.label}}
      </span>
      <span *ngIf="!element[columnObject.columnName].isHeader">{{element[columnObject.columnName].stringValue}}</span>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
</table>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->